.intro_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: #7f7f7f;
}

.intro_image {
    width: 100%;
}

.image_right_name {
    font-size: 16px;
    font-family: var(--font-magazine);
}